/***Scrolling text styles***/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

.background {
	background-image: url("sky.JPG");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 3000px;
}

.background1 {
	background-image: url("sky.JPG");
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
}

.wrapper {
	
	
	padding-top: 40%;
	padding-bottom: 40%;
	perspective: 800px;
	perspective-origin: 50% 200px;
	animation-name: scroll;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

.container {
	position: relative;
	transform-style: preserve-3d;
	width: 960px;
}

.text {
	position: relative;
	margin: 0 55%;
	width: 540px;
	height: 1200px;
	color: yellow;
	font-size: 24px;
	text-align: justify;
	
	transform: translateZ(-1000px) rotateX(75deg) translateY(-800px);
	transform-origin: center top;
	animation-name: scroll;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: ease;
}

@keyframes scroll {
	0% {
		
		transform: translateZ(0px) rotateX(0deg) translateY(0px);
		
		padding-top: 40%;
		
	}
	
	
	
	
	100% {
		
		transform: translateZ(-1000px) rotateX(75deg) translateY(-800px);
		
		padding-top: 10%;
		
	}
	
}



