/***Scrolling text styles***/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

.background {
	background-image: url("sky.JPG");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 3000px;
}

.wrapper {
	
	
	padding-top: 40%;
	padding-bottom: 40%;
	perspective: 800px;
	perspective-origin: 50% 200px;
	animation-name: distance;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: ease-in;
	
}

.container {
	position: relative;
	transform-style: preserve-3d;
	width: 960px;
}

.text {
	position: relative;
	margin: 0 55%;
	width: 540px;
	
	color: yellow;
	font-size: 32px;
	text-align: justify;
	
	transform-origin: center top;
	animation-name: scroll;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
}

@keyframes scroll {
	0% {
		
		transform: rotateX(82deg) translateY(0px);
		padding-top: 40%;
		
		
	}
	
	100% {
		
		padding-top: 10%;
		
	}
	
}

@keyframes distance {
	0% {
		
		
		perspective: 800px;
		
	}
	
	100% {
		
		
		perspective: 200px;
	}
	
}


